# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
.idea
# eclipse ignore
.settings/
.project
.classpath

# vscode
.vscode

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp

# system ignore
.DS_Store
Thumbs.db
node_modules/
